services:
  - type: web
    name: loan-easy
    runtime: python
    region: ohio
    plan: free
    branch: main
    buildFilter:
      paths:
      - "/**"
    envVars:
      - key: PYTHON_VERSION
        value: 3.11.0
      - key: SECRET_KEY
        generateValue: true
      - key: FLASK_ENV
        value: production
    buildCommand: "pip install -r requirements.txt"
    startCommand: "gunicorn wsgi:app"
